.sidebar
  =render :partial => "users/dashboard_nav"

.profile

  #yui-main
    .yui-b
      -box :class => "hfeed" do 
        %h3
          = link_to :users_photos.l_with_args(:user => @user.login), user_photos_path(@user)
          \:
          = link_to h(@photo.display_name), user_photo_path(@user, @photo)
        - if @is_current_user
          -box :class => "alt" do 
            = link_to :make_this_my_profile_photo.l, change_profile_photo_user_path({:id => @user, :photo_id => @photo}), :method => :put
            |
            = link_to :edit_this_photo_details.l, edit_user_photo_path(@user, @photo) if @is_current_user
            |
            = link_to(:delete_this_photo.l, user_photo_path(@user, @photo), :method => :delete) + "<br class='clear' />"

        %p.centered= image_tag( @photo.public_filename, :class => "polaroid" )
        %p= h @photo.description



