<h1><!-- <img src="/secund/images/Kervu_logo.png" /> --><a href="/">Kervu</a></h1>
<ul id="nav"> 
	<% if logged_in? %>
		<%= render :partial => 'shared/user_menu_custom' %>
	<% else %>
		<li><a href="/">Home</a></li>  
		<li><a href="/contact">Contact Us</a></li>  
	<% end %>            
</ul> 
<% if logged_in? %>
	<p class="user"><%= link_to "My Account", user_path(current_user)+"/edit_account"   %> | <%=link_to :log_out.l, logout_path %></p>
<% else %>
	<p class="user"><%=link_to :log_in.l, login_path %> | <%= link_to :sign_up.l, signup_path  %></p>	
<% end %>  